pandas==2.2.2
uvicorn==0.34.0
tenacity==8.3.0
dependency_injector==4.46.0
google-adk==1.7.0
langchain==0.3.23
langchain-core==0.3.51
langchain-google-genai==2.1.1
langchain-community==0.3.21
google-api-python-client==2.157.0
fastapi
