pandas==2.2.2
uvicorn==0.30.3
tenacity==8.3.0
langchain==0.3.21
langchain_google_genai==2.1.1
dependency_injector==4.46.0
google-adk==1.7.0
gtts==2.5.3
edge-tts==7.0.0
fastapi
langchain_community==0.2.10
langchain_core==0.3.47