global:
  resolve_timeout: 5m
  smtp_smarthost: ${MAIL_HOST}:${MAIL_PORT}
  smtp_from: ${MAIL_USERNAME}
  smtp_auth_username: ${MAIL_USERNAME:vanthachdoan1206@gmail.com}
  smtp_auth_password: ${MAIL_PASSWORD:xlixupjsbnnzynra}

route:
  group_by: ['alertname', 'cluster', 'service']
  group_wait: 10s
  group_interval: 10s
  repeat_interval: 12h
  receiver: 'default'
  routes:
    - match:
        severity: critical
      receiver: 'critical-alerts'
      continue: true
    - match:
        severity: warning
      receiver: 'warning-alerts'

receivers:
  - name: 'default'
    email_configs:
      - to: ${DEVMAIL:hophucthai9@gmail.com}
        send_resolved: true

  - name: 'critical-alerts'
    email_configs:
      - to: ${DEVMAIL:hophucthai9@gmail.com}
        send_resolved: true
        headers:
          Subject: '[CRITICAL] {{ .GroupLabels.alertname }}'
    slack_configs:
      - api_url: 'https://hooks.slack.com/services/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'
        channel: '#alerts'
        title: 'CRITICAL Alert'
        text: '{{ range .Alerts }}{{ .Annotations.description }}{{ end }}'

  - name: 'warning-alerts'
    email_configs:
      - to: ${DEVMAIL:hophucthai9@gmail.com}
        send_resolved: true

inhibit_rules:
  - source_match:
      severity: 'critical'
    target_match:
      severity: 'warning'
    equal: ['alertname', 'instance']